<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="DataReader.CommandLine.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
    <gcServer enabled="true"/>
  </runtime>
<applicationSettings>
    <DataReader.CommandLine.Settings>
        <setting name="MaxDegreeOfParallelism" serializeAs="String">
            <value>48</value>
        </setting>
        <setting name="TagsChunkSize" serializeAs="String">
            <value>10000</value>
        </setting>
        <setting name="BulkParallelChunkSize" serializeAs="String">
            <value>1000</value>
        </setting>
        <setting name="BulkPageSize" serializeAs="String">
            <value>1000</value>
        </setting>
    </DataReader.CommandLine.Settings>
  </applicationSettings>
</configuration>
